:root {
  --primary-hue: 259deg;
  --primary-saturation: 42%;
  --primary-lightness: 52%;
}

.dark {
  --primary-hue: 259deg;
  --primary-saturation: 55%;
  --primary-lightness: 68%;
}

::selection {
  background: rgb(113 80 184 / 28%);
}
